@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');

.font-poppins {
    font-family: "Poppins", sans-serif;
}


.btn-primary {
    background-color: #0D6EFD;
    outline: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    padding: 17px 40px 17px 40px;
}

.common-description {
    font-size: 18px;
    font-weight: 400;
    opacity: 70%;
}